* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Press Start 2P", fantasy;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 5vw;
}

button {
  font-family: "Press Start 2P", fantasy;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;

  width: 200px;
  height: 100px;
  background-color: #000000;

  margin-bottom: 16px;
}

canvas {
  position: relative;
  display: none;
  margin-bottom: 1vw;
}

#modal {
  display: none;
  width: 512px;
  height: 512px;
  background-color: red;
}

footer {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  background-color: #000000;
  color: #d3d3d3;
}
