* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Press Start 2P", fantasy;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  margin-bottom: 5vw;
}

button {
  font-family: "Press Start 2P", fantasy;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;

  width: 16vw;
  height: 8vh;
  background-color: #000000;

  margin-top: 10vh;
}

canvas {
  position: relative;
  display: none;
  margin-bottom: 1vw;
}

#modal {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 512px;
  height: 512px;
  background-color: red;

  gap: 2rem;
}

#modal p {
  font-size: 2rem;
  font-weight: 400;
}

footer {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background-color: #000000;

  font-size: 1rem;
  color: #d3d3d3;
}
